extends layout

block content
  h1  About Us
  p
    h5
      | Who We Are???
    | At Fusion Computer Repairs we are obsessed about gadgets and gizmos. We’re the folks standing in line on launch day waiting for the latest smartphone or gaming console.We love all things tech, but don’t confuse our passion for snobbery. We’re not self-described geniuses, but we are experts at what we do.

    h5
      | What We Do???
    | Fusion Computer Repairs fixes electronic devices (it’s in our name after all). Whether you’re a secret agent who jumped out of a plane and forgot that your iPhone 6 was in your pocket so it took a painful journey to the ground without a parachute, or you just dropped your tablet in the toilet. Don’t worry, we’ve been there ourselves; maybe not the secret agent part, but we understand how traumatic it is when you break your precious devices.

    h5
      | Why We Do It???
    | We’re not overly sentimental, but we do what we do because we care about people and their tech. That’s why we put our customers above anything else. Of course we love fixing cracked iPhone screens and broken charge ports, but we get our satisfaction from helping out folks who lost their connection to the outside world.
